.container {
  width: 600px;
  margin: auto;
}

.buttons {
  padding: 10px;
  border: 1px solid black;
}

.btn {
  padding: 5px;
}

.btn:focus {
  background-color: #4072fe;
  color: white;
 
}

.active {
  background-color: #4072fe;
  color: white;
  border: 1px solid #3900fe
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container>* {
  width: 50%;
  margin: 20px;
}

.slider>* {
  margin: 10px 0;
}

.text {
  border: 1px solid #e0e1e5;
  padding: 10px 0;
  border-radius: 10px;
}

.red .ui-widget-header {
  background: #e72923;
}

.red .ui-slider-handle {
  border: 1px solid #e72923;
}

.green .ui-widget-header {
  background: #8ae52f;
}

.green .ui-slider-handle {
  border: 1px solid #8ae52f;
}

.blue .ui-widget-header {
  background: #799acd;
}

.blue .ui-slider-handle {
  border: 1px solid #799acd;
}
